<style>
  
    html {
      --primaryColor: #0d0419;
      --primaryColorContrast: #ffffff;
    }

    div.header {
      background: linear-gradient(to bottom right, rgba(5.10%, 1.57%, 9.80%, 1.00), rgba(5.10%, 1.57%, 9.80%, 0.84));
    }

    div.column_wrapper div.settings_panel h3 {
      color: var(--primaryColorContrast);
    }

    div.settings_panel h3.background_color {
      background-color: var(--primaryColor);
    }

    section.inner_content a, section.media_panel div.menu ul li.active a {
      color: #000;
    }

    section.inner_content a:hover {
      color: rgba(0,0,0,0.5);
    }

    section.media_panel div.menu ul li.active {
      border-bottom-color: #000000;
    }

    #shortcut_bar_scroller.scroller_wrap, div.single_column_wrapper {
      border-bottom: 1px solid var(--primaryColor);
    }

    
      section.inner_content div.header div.single_column *, section.inner_content div.header div.single_column a {
        color: #fff;
      }

      section.inner_content div.header div.single_column a:hover {
        color: rgba(255,255,255,0.7);
      }

      section.inner_content div.header div.single_column div.facts span.certification {
        border: 1px solid rgba(255,255,255,0.6);
        color: rgba(255,255,255,0.6);
      }

      p.new_button.rounded a span, section.inner_content section.header ul.actions li.video span, div.column_wrapper div.settings_panel h3 span.glyphicons_v2, section.inner_content section.header div.trailer a span {
        filter: invert(1);
      }
    

    p.new_button.rounded, section.content_score div.content_score div, div.leaderboard div.histogram div.bar span {
      border-color: var(--primaryColor);
      background-color: var(--primaryColor);
      color: var(--primaryColorContrast);
    }

    p.new_button.rounded a, section.content_score div.content_score div p {
      color: var(--primaryColorContrast);
    }

    
      
    

    
      section.inner_content div.custom_bg {
        background-image: linear-gradient(to right, rgba(5.10%, 1.57%, 9.80%, 1.00) 150px, rgba(5.10%, 1.57%, 9.80%, 0.84) 100%);
      }
    
  
</style>